<h1>omg awesome quotes for you</h1>

<blockquote>

	<!-- "Fuck bitches, get money." <br /> - Winston Churchill -->
	<%= @quote %>
	<br />
	-- Winston Churchill

</blockquote>


<%= link_to 'Next', root_path %>