<h1 class="custom-font">omg awesome quotes for you</h1><br /><br />

<div class="custom-font2">

	<!-- "Fuck bitches, get money." <br /> - Winston Churchill -->
	<%= @quote %>
	<br /><br />
	-- Winston Churchill
	<br /><br /><br /><br />
	<%= link_to 'Next', root_path %>

</div>


