.custom-font {
	margin-left: 50px;
	color:black;
	font-size: 72px;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucia Grande, sans-serif; /*in order of the fonts that you want*/
	font-weight:100;
	line-height: 72px; /*changes the height of the line to prevent text from overlapping on two lines*/
	margin-bottom: 20px;
}

.custom-font2{
	margin-left: 50px;
	color:black;
	font-size: 24px;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucia Grande, sans-serif; /*in order of the fonts that you want*/
	font-weight:100;
}